/* full body  */
body{
    margin: 0;
    padding: 0;
}
/* heading on top  */
.heading{
    color: rgb(7, 133, 138);
    font-weight: 500 !important;
}
/* all input area body color  */
.input-area{
    background-color: rgb(200, 240, 230);
}
/* input tag name  */
.info-name{
    font-size: 18px;
}