body{
    margin: 0;
    padding: 0;
}
.heading{
    color: rgb(7, 133, 138);
    font-weight: 500 !important;
}
.input-area{
    background-color: rgb(200, 240, 230);
}
.info-name{
    font-size: 18px;
}